@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#expandeddkim-verifierBox {
  -moz-binding: url(chrome://dkim_verifier/content/bindings.xml#dkim-verifier-box) !important;
  -moz-box-align: center;
}

#expandeddkim-verifierBox[warnings="true"]  [anonid="dkimWarningIcon"] {
  visibility: visible;
}

#dkim-verifier-header-tooltips {
  -moz-binding: url(chrome://dkim_verifier/content/bindings.xml#dkim-verifier-header-tooltips-box) !important;
  -moz-box-align: center;
}

#expandeddkim-verifierBox:not([spf="true"])  [anonid="spf"] {
  display: none;
}

#expandeddkim-verifierBox:not([dmarc="true"])  [anonid="dmarc"] {
  display: none;
}

#expandeddkim-verifierBox:not([arhDkim="true"])  [anonid="arhDkim"] {
  display: none;
}

mail-multi-emailHeaderField {
  -moz-binding: url("chrome://dkim_verifier/content/bindings.xml#dkim-mail-multi-emailHeaderField");
}

mail-multi-emailHeaderField:not([dkimFavicon="true"]) [anonid="dkimFavicon"] {
  display: none;
}

mail-multi-emailHeaderField [anonid="dkimFavicon"] {
  min-width: 0px !important;
  width: 1.5em;
  height: 1.5em;
  margin-bottom: 5px !important;
  background-size: contain;
}
