@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#dkim-verifier-statusbarpanel {
  -moz-binding: url(chrome://dkim_verifier/content/bindings.xml#dkim-verifier-statusbarpanel-box) !important;
}

#dkim-verifier-statusbarpanel > image {
  list-style-image: url("chrome://global/skin/icons/Warning.png");
  height: 16px;
  width: 16px;
  display: none;
}
#dkim-verifier-statusbarpanel[warnings="true"] > image {
  display: -moz-box;
}
