body {
	display: grid;
	grid-template-columns: 240px 1fr;
	grid-template-rows: 100vh;
}

nav.nav-main {
	background-color: var(--in-content-categories-background);
	padding-top: 54px;
}

nav.nav-main>div[pane] {
	display: flex;
	align-items: center;
	min-height: 40px;
	margin-inline: 6px;
	margin-inline-start: 34px;
	border-left: 4px solid transparent;
	border-radius: 4px;
	padding: 5px 10px;
	padding-inline-start: 19px;
	cursor: default;
	user-select: none;
}

nav.nav-main>div[pane][selected] {
	background-color: var(--in-content-button-background);
	border-left-color: var(--in-content-accent-color);
}

nav.nav-main>div[pane]:hover {
	background-color: var(--in-content-button-background-hover);
	color: var(--in-content-button-text-color-hover);
}

main {
	padding: 65px 28px;
}

label.checkbox {
	display: flex;
	align-items: center;
	margin: 2px 0;
	padding: 1px 0;
}

.colorGrid {
	display: grid;
	grid-template-columns: max-content auto;
	align-items: center;
}

.colorGridHeader {
	justify-self: end;
	margin-inline-end: 4px;
	font-weight: bold;
}

.color-preview {
	padding-inline: 0.2em;
}

fieldset:disabled label {
	opacity: 0.5;
}

fieldset:disabled span {
	opacity: 0.5;
}

.account-options {
	display: flex;
	flex-direction: row;
}

.account-options[hidden] {
	display: none;
}

.account-selection-box {
	overflow: auto;
	overflow-x: hidden;
	min-width: 15%;
	max-width: 40%;
	margin: 2px 0px;
	margin-inline-end: 8px;
	border: 1px solid var(--in-content-box-border-color);
	border-radius: 2px;
	background-color: var(--in-content-box-background);
}

.account-selection-item {
	padding: .3em;
	cursor: default;
	user-select: none;
}

.account-selection-item:hover {
	background-color: var(--in-content-item-hover);
}

.account-selection-item[selected] {
	color: var(--in-content-item-selected-text);
	background-color: var(--in-content-item-selected)
}

.usage-warning[data-highlight="true"] {
	color: orange;
}
