.tabulator-cell[tabulator-field="domain"] {
	overflow-wrap: break-word;
}

.tabulator-cell[tabulator-field="listId"] {
	overflow-wrap: break-word;
}

.tabulator-cell[tabulator-field="addr"] {
	overflow-wrap: break-word;
}

.tabulator-cell[tabulator-field="sdid"] {
	overflow-wrap: break-word;
}
