#rulesTable {
	table-layout: auto;
}

td[data-column-name="domain"] {
	width: 10em;
	max-width: max(10em, 30vw);
}

td[data-column-name="addr"] {
	width: 10em;
	max-width: max(10em, 20vw);
}

td[data-column-name="sdid"] {
	width: 10em;
	max-width: max(10em, 20vw);
}

td[data-column-name="type"] {
	width: 1em;
}

td[data-column-name="priority"] {
	width: 1em;
}
