@import  "../thirdparty/tabulator-tables/dist/css/tabulator.css" (prefers-color-scheme: light);
@import  "../thirdparty/tabulator-tables/dist/css/tabulator_midnight.css" (prefers-color-scheme: dark);

.tabulator {
	background-color: var(--in-content-box-background);
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.body {
	flex-grow: 1;
	overflow: hidden;
}

.footer {
	background-color: var(--in-content-table-background);
}
