@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#expandeddkim-verifierBox image {
  /* compare: .emailStar */
  max-width: 1.2em;
  max-height: 1.2em;
  -moz-appearance: none;
  padding: 0px;
  margin: 0;
  margin-left: 1ex;
  margin-bottom: 4px;
  visibility: hidden;
}
