@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#expandeddkim-verifierBox image {
  /* compare: .emailStar */
  max-width: 1.1em;
  max-height: 1.1em;
  -moz-appearance: none;
  padding: 0px;
  margin-top: 0px; 
  margin-bottom: 3px; 
  margin-left: 1ex;
  margin-right: 0; 
  visibility: hidden;
}
